body {
  font-size: 1.5em;
  line-height: 1.6em;
  background-color: beige;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

table {
  margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.604);
    width: 100%;
    text-align: left;
    letter-spacing: 0.8px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
        -3px -3px 5px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
}

thead {
    text-decoration: underline;
}

td {
    border-bottom: 1px solid rgb(43, 43, 43);
    padding: 5px;
}

input {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 150px;
  border-radius: 5px;
  background-color: darkorange;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

button:active {
  background-color: rgba(255, 166, 0, 0.8);
}

footer {
  margin-top: 2em;
}